<mat-card>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="onMapReady($event)">
  </agm-map>
</mat-card>
<div class="controls">
  <button (click)="play()">Play</button>
  <button (click)="pause()">Pause</button>
  <button (click)="reset()">Reset</button>
  <button (click)="next()">Next</button>
  <button (click)="prev()">Previous</button>
  <button (click)="fast()">Fast</button>
  <span id="speed">Speed: {{ speedMultiplier }}x</span>
  <button (click)="slow()">Slow</button>
</div>

<p-inputNumber [(ngModel)]="longitude" inputId="longitude" mode="decimal">
</p-inputNumber>
<p-inputNumber [(ngModel)]="latitude" inputId="latitude" mode="decimal">
</p-inputNumber>